* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.wrap {
  overflow: hidden;
  max-height: 100vh;
}

header {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  height: 25vh;

  text-align: center;
  text-transform: uppercase;
  width: 70vw;
  color: white;
  border: 5px solid;
  border-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 10px whitesmoke;
  z-index: 1;
  background-image: linear-gradient(rgb(116, 117, 121), rgb(7, 10, 59));
  animation: headerBorder 2s infinite alternate;
  transition: 0.3s;
}

.activeHeader {
  top: 0%;
  transform: translateX(-50%);
  height: 20vh;
  width: 100vw;
}

@keyframes headerBorder {
  0% {
    border-color: white;
  }

  10% {
    border-color: yellow;
  }

  20% {
    border-color: orange;
  }

  30% {
    border-color: red;
  }

  40% {
    border-color: palevioletred;
  }

  50% {
    border-color: white;
  }

  60% {
    border-color: cadetblue;
  }

  70% {
    border-color: darkblue;
  }

  80% {
    border-color: grey;
  }

  90% {
    border-color: magenta;
  }

  100% {
    border-color: mediumslateblue;
  }
}

button.init {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  width: 15vw;
  height: 7vh;
  border: 5px dotted blue;
  border-radius: 5px;
  animation: headerBorder 2s 1s infinite alternate;
  background-color: rgb(55, 85, 128);
  color: white;
  font-size: 3.5vh;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}

button.init:hover {
  animation: none;
  background-color: white;
  color: rgb(55, 85, 128);
  font-weight: bold;
  border: 5px solid white;
  letter-spacing: 1px;
}

header img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30vh;
  height: 25vh;
}

header img.left {
  left: 5%;
}

header img.right {
  left: 72%;
}

header p {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 0);
  font-family: "Carter One", cursive;
  font-size: 7vh;
  transition: 0.3s;
}

.activeHeaderP {
  transform: translate(-50%, 15%);
  font-size: 9vh;
  letter-spacing: 5px;
}

/* plansza gry */

.game {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-image: url(Img/planets.jpg);
  background-size: 100%;
  background-position: 0% 80%;
}

.start {
  position: absolute;
  left: 3%;
  bottom: 15vh;
  height: 1vw;
  width: 30vh;
  background-color: indigo;
  color: white;
  font-size: 0.8vw;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-radius: 25%;
  transform: rotate(90deg);
  opacity: 0;
}

.stop {
  position: absolute;
  left: 85%;
  bottom: 15vh;
  height: 1vw;
  width: 30vh;
  background-color: indigo;
  color: white;
  font-size: 0.8vw;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-radius: 25%;
  transform: rotate(90deg);
  opacity: 0;
}

.you,
.opp1,
.opp2 {
  height: 10vh;
  width: 10vw;
  position: absolute;
  top: 75%;
  left: 0%;
  opacity: 0;
}

.opp1 {
  top: 65%;
}

.opp2 {
  top: 85%;
}

div.opp1 p,
div.opp2 p {
  opacity: 0;
  font-family: "Carter One", cursive;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.you img,
.opp1 img,
.opp2 img {
  width: 100%;
}

.hide {
  display: none;
}

/* wybór trybu gry */
section.gameMode {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%) scale(0);
  width: 40vw;
  height: 40vh;
  border: 5px solid white;
  border-radius: 5px;
  background-image: linear-gradient(rgb(100, 134, 167), rgb(55, 85, 128));
  z-index: 1;
  transition: 0.3s;
}

.active {
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  position: absolute;
  left: 50%;
  top: 55%;
  width: 40vw;
  height: 40vh;
  border: 5px solid white;
  box-shadow: 0 0 10px 3px white;
  border-radius: 5px;
  background-image: linear-gradient(rgb(100, 134, 167), rgb(55, 85, 128));
  z-index: 1;
  transition: 0.3s;
}

.active h1 {
  width: 100%;
  height: 10vh;
  text-transform: uppercase;
  font-size: 6vh;
  line-height: 10vh;
  text-align: center;
  font-family: "Carter One", cursive;
}

.active button {
  width: 15vw;
  height: 10vh;
  font-family: "Carter One", cursive;
  border-radius: 50%;
  border: 3px solid black;
  background-color: white;
  font-size: 2.5vh;
  transition: 0.3s;
  cursor: pointer;
}

.active button:hover {
  background-color: black;
  color: white;

}

/* wybór zawodnika */

section.chooseRunner {
  display: none;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
  border: 5px solid white;
  border-radius: 5px;
  background-image: linear-gradient(blue, cadetblue);
  z-index: 1;
}

section.chooseRunner h1 {
  width: 100%;
  height: 8vh;
  font-size: 6vh;
  line-height: 8vh;
  color: white;
  text-align: center;
  /* margin: 2vh 0 2vh 0; */
}

section.chooseRunner div {
  width: 30%;
  height: 35vh;
  background-color: lightblue;
}

section.chooseRunner div img {
  width: 100%;
}

/* odliczanie */
.counter {
  color: white;
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) scale(1);
  height: 70vh;
  width: 70vh;
  line-height: 100vh;
  text-align: center;
  font-family: "Carter One", cursive;
  font-size: 50vh;
  z-index: 0;
  opacity: 1;
}

/* stoper */

.timer {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translateX(-40%);
  height: 15vh;
  line-height: 15vh;
  text-align: inherit;
  text-transform: uppercase;
  width: 20vw;
  color: white;
  /* padding-left: 20vw; */
  font-family: "Carter One", cursive;
  /* font-family: "Orbitron", sans-serif; */
  /* border: 5px solid;
  border-color: white
  border-radius: 5px; */
  /* box-shadow: 0 0 10px 10px whitesmoke; */
  z-index: 0;

  /* background-image: linear-gradient(mediumblue, lightblue); */
  animation: headerBorder 2s 1s infinite alternate;
  transition: 0.3s;
  font-size: 10vh;
  /* font-family: "Carter One", cursive; */
}

.scores {
  padding: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%) scale(0);
  width: 40vw;
  height: 45vh;
  border: 10px solid white;
  border-radius: 5px;
  text-align: center;
  background-image: linear-gradient(rgb(100, 134, 167), rgb(55, 85, 128));
  z-index: 1;
  transition: 0.3s;
  font-family: "Carter One", cursive;

}

.activescores {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s;
  animation: headerBorder 2s 1s infinite alternate;
  font-size: 7vh;
  padding: 30px;

}

.score {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: 0;
  top: 0;
  /* transform: translate(-50%, -50%) scale(1); */
  width: 40vw;
  height: 45vh;
  /* border: 10px solid white;
  border-radius: 5px; */
  text-align: center;
  /* background-image: linear-gradient(blue, cadetblue); */
  z-index: 2;
  transition: 0.3s;
}

.highscores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  position: absolute;
  left: 0;
  top: -5%;
  transform: scale(0);
  width: 100%;
  height: 45vh;
  text-align: center;
  z-index: 1;
  transition: 0.3s;
  color: white;

}

.activehighscores {
  transform: scale(1);
}

.score p {
  font-size: 20px;

}

.score input {
  width: 20vw;
  height: 5vh;
  margin: 2vh auto;
  font-size: 3vh;
  padding: 1em;
  padding-left: 1vw;
  border-radius: 10px;
}

.score.hide {
  display: none;
}

.highscores h2 {
  width: 100%;
  text-align: center;
  line-height: 5vh;
  font-size: 4vh;
  margin: 1vh 0 2vh 0;
}

.highscores p {
  width: 100%;
  height: 3.5vh;
  line-height: 3.5vh;
  font-size: 2.5vh;
  margin-bottom: 2vh;
}

.newTrial,
.reload {
  position: absolute;
  top: 70%;
  left: 5%;
  background-color: transparent;
  border: 2px solid white;
  width: 10vw;
  height: 6vh;
  font-size: 2vh;
  color: white;
  transition: 0.2s;
}

.reload {
  left: 70%;
}

.newTrial:hover,
.reload:hover {
  background-color: white;
  color: rgb(55, 85, 128);
}